html {
    background-color: black;
    color: white;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
}
li {
    list-style: none;
}
.link {
    color: pink;
}
.link:hover{
    color: red;
}
.pagebox {
    border: 1px solid white;
}
img {  
    max-width: 100%;  
    height: auto; 
    border: 1px solid white; 
    margin-bottom: 25px;
    }  