html {
    background-color: black;
    color: white;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
}
li {
    list-style: none;
}
.boldfont {
    font-weight: bold;
}
.link {
    color: pink;
}
.link:hover{
    color: red;
}
.blinkbox {
    border: 1px solid white;
    background-color: black;
    animation: blink 10s infinite;
}
@keyframes blink {
    0% {
        background: black;
    }
    50% {
        background: white;
    }
}
.pagebox {  
    background-color: black;
    border: 1px solid white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 98%;
}
.imagebox {
    display: flex;
    justify-content: center;

}
img {  
    max-width: 30%;  
    height: auto; 
    border: 1px solid white; 
    margin-bottom: 25px;
    }  